{{ template "header.html" }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Wallet ID {{.ID}}</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Coin</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $coin, $unit := .CoinsHeld}}
                    <tr>
                        <td>{{ $coin }}</td>
                        <td>{{ $unit }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>

            <form action="/delete/{{.ID}}" method="post">
                <a href="/deposit/{{.ID}}">
                    <button type="button" class="btn btn-default">Deposit</button>
                </a>
                <a href="/withdraw/{{.ID}}">
                    <button type="button" class="btn btn-default">Withdraw</button>
                </a>
                <input type="submit" name="delete" value="Delete Wallet" class="btn btn-warning">
            </form>

        </div>
    </div>
</div>
</body>

</html>
